.BorderFormRegis{
    height: 900px !important;
}

.SuccessImage{
    height: 120px;
}

.ButtonNavigateLogin{
    border: none;
    background: transparent;
    color: white;
    font-size: 20px;
}

.ShowDisplay{
    display: block !important;
}

.CustomBorderForm{
    height: 400px;
}